:root {
  --tags-color: #2e2f42;
  --p-text: #434455;
  --buttons-color: #4d5ae5;
  --hf-buttons-color: #404bbf;
  --our-team-background: #f4f4fd;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--p-text);
  background: #ffffff;
}
/*----------- WEBSTUDIO -----------*/
.font-style-normal {
  font-style: normal;
}
.logo {
  font-family: 'Raleway';

  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: 0.03em;
  color: var(--tags-color);
  text-transform: uppercase;
  margin-right: 76px;
}
.web-logo-style {
  color: #4d5ae5;
  text-transform: uppercase;
}
.header-mail {
  margin-left: 332px;
}
.header {
  height: 72px;
  padding: 32px;
}
.box-header-text {
  display: flex;
}
.box-header-contacs {
  display: flex;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.box-hero-section {
}
.box-text-hero {
}
.box-btt-hero {
  align-self: center;
  justify-content: center;
  margin-top: 48px;
}
.header-list {
  display: flex;
  gap: 30px;
}
.logo-footer {
  color: #ffffff;
  text-transform: uppercase;
}
.tabs-web-studio {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  color: var(--tags-color);
  letter-spacing: 0.02em;
}
.box-futures-text {
  display: flex;
  margin: 0;
  gap: 24px;

  margin-bottom: 120px;
}
.section-futures-web {
  margin-top: 120px;
}
.futures-text {
}
.tabs-web-studio:hover,
.tabs-web-studio:focus {
  color: #404bbf;
}
.contacs-web-studio {
  font-style: normal;

  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--p-text);
  letter-spacing: 0.02em;
}
.contacs-web-studio:hover,
.contacs-web-studio:focus {
  color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hero-section {
  background-color: var(--tags-color);
  height: auto;
}
.box-wawd {
}
.box-wawd-list {
  margin-top: 72px;
  display: flex;
  padding-top: 72px;
  align-items: center;
  justify-content: space-evenly;
}
.section-slogan {
  font-size: 56px;
  line-height: calc(60 / 56);
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.box-our-team {
  margin-top: 120px;
  padding-top: 120px;
}
.box-our-team-list {
  display: flex;
  margin-top: 72px;
  justify-content: space-evenly;
  gap: 24px;
}
.button-hero-h {
  background: var(--buttons-color);
  width: 169px;
  height: 56px;
  font-weight: 500;
}
.cursor-pointer {
  cursor: pointer;
}
.button-text-after-title {
  font-family: inherit;

  font-size: 16px;
  line-height: calc(24 / 16);
  color: #ffffff;
  letter-spacing: 0.04em;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.button-h1:hover,
.button-h1:focus {
  background: var(--hf-buttons-color);
}
.futures-name {
  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--tags-color);
  letter-spacing: 0.02em;
}
.futures-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}
.wawd {
  font-size: 36px;
  line-height: calc(40 / 36);
  color: var(--tags-color);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.img-main-page {
}
.background-section-our-team {
  background: #f4f4fd;
}
.background-li-our-team {
  background: #ffffff;
}
.our-team-title {
  font-size: 36px;
  line-height: calc(40 / 36);
  color: var(--tags-color);
  letter-spacing: 0.02em;
  text-align: center;
}
.names-our-team {
  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--tags-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  text-align: center;
}
.position-our-team {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  text-align: center;
}

.mail-main {
  color: black;
}
.mail-main:hover,
.mail-main:focus {
  color: blue;
}
.list-style-none {
  list-style: none;
}

.text-decoration {
  text-decoration: none;
}

.web-studio-footer-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  color: #e7e9fc;
  letter-spacing: 0.02em;
}

/*----------- portfolio -----------*/
.box-portfolio-btt {
  margin-bottom: 72px;
}
.box-list-portfolio-btt {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.first-box-portfolio {
  margin-bottom: 48px;
}
.second-box-portfolio {
  margin-bottom: 48px;
}
.third-box-portfolio {
  margin-bottom: 120px;
}
.first-list-portfolio {
  display: flex;
  justify-content: space-evenly;
}
.portfolio-box-text {
  display: flex;
  justify-content: space-around;
}
.margin-text-portfolio-box {
  margin-top: 32px;
}
.img-portfolio-box {
}
.portfolio-text {
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--tags-color);
}
.portfolio-p {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--p-text);
  padding-top: 8px;
  padding-bottom: 32px;
}

.footer {
  background-color: #2e2f42;
}

.header {
}

.buttons-main {
  background: #f4f4fd;
}
.buttons-text {
  font-family: inherit;
  color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
}
.buttons-main:hover,
.buttons-main:focus {
  background: var(--hf-buttons-color);
}

.buttons-text:hover,
.buttons-text:focus {
  color: #ffffff;
}
.mail-portfolio {
  color: black;
}
.mail-portfolio:hover,
.mail-portfolio:focus {
  color: blue;
}
